<div class="label">
  <app-user-photo [user]="{id: (user | async)?.id, photo: (user | async)?.photo}" *ngIf="user | async"></app-user-photo>
  <div class="topic-title">
    <app-user-name [user]="{id: (user | async)?.id, name: (user | async)?.name}"></app-user-name>
    <span class="user-action"> is asking:</span>
    <h2 class="question-title">{{ question.title }}</h2>
  </div>
  <div class="follow">{{ follow }}</div>
</div>
<div class="topic-content">
  <div class="placeholder"></div>
  <p class="topic-description">{{ question.description }}</p>
  <app-topic-votes [votes]="question.votes"></app-topic-votes>
</div>
<button type="button" class="btn-lg">GIVE new answer</button>