<div class="label">
  <img src="assets/{{ ( user | async )?.photo }}" alt="User" class="user-photo" *ngIf="user | async">
  <div class="topic-title">
    <strong class="user-name">{{ ( user | async )?.name }}</strong>
    <span class="user-action"> is asking:</span>
    <h2 class="question-title">{{ question.title }}</h2>
  </div>
  <div class="follow">{{ follow }}</div>
</div>
<div class="topic-content">
  <div class="placeholder"></div>
  <p class="topic-description">{{ question.description }}</p>
  <app-topic-votes [votes]="question.votes"></app-topic-votes>
</div>
<button type="button" class="btn-lg">GIVE new answer</button>