:host {
    display: block;
    width: 100%;
    max-width: 120rem;
    margin: 0 auto;
    box-shadow: 3px 0 5px 0 rgba(0,0,0,0.15);
    position: relative;
}

.label {
    box-sizing: border-box;
    display: flex;
    padding: 2rem;
    background-color: #DFF3FD;
}

.user-photo {
    display: block;
    width: 7rem;
    height: 7rem;
    border-radius: 100%;
    margin-right: 5rem;
    flex-basis: 7rem;
}

.user-action {
    color: #818B98;
    font-family: 'AurulentSans-Regular', 'sans-serif';
    text-transform: uppercase;
    font-size: 1.4rem;
}

.question-title {
    font-family: 'AurulentSans-BoldItalic', 'sans-serif';
    color: #0266B3;
    font-size: 2rem;
}

.follow {
    float: left;
    font-family: 'AurulentSans-Bold', 'sans-serif';
    color: #0266B3;
    font-size: 2rem;
    align-self: center;
    flex: 1;
    cursor: pointer;
    margin-left: 3rem;
}

.follow-bottom {
    display: none;
}

.topic-title {
    margin-left: 4rem;
    flex: 7;
}

.topic-content {
    display: flex;
    background-color: #fff;
}

.placeholder {
    background-color: #DFF3FD;
    flex: 1;
}

.topic-description {
    font-family: 'AurulentSans-Regular', 'sans-serif';
    background-color: #fff;
    margin: 4rem 3rem 6rem 3rem;
    flex: 8;
    font-size: 1.6rem;
    line-height: 2.5rem;
}

.btn-lg {
    min-width: 23rem;
    min-height: 5rem;
    position: absolute;
    text-align: center;
    font-family: 'AurulentSans-Bold', 'sans-serif';
    font-size: 2rem;
    background-color: #fff;
    border: 1px solid #818B98;
    cursor: pointer;
    left: 50%;
    bottom: -2.5rem;
    transform: translateX(-50%);
}


@media (max-width: 920px) {

    .placeholder {
        display: none;
    }
}

@media (max-width: 720px) {

    .topic-content {
        display: block;
    }

    app-topic-votes {
        padding-bottom: 6rem;
    }

    .topic-description {
        margin-bottom: 1rem;
    }

    .follow-bottom {
        display: block;
    }

    .follow-top {
        display: none;
    }
}