<div class="label">
  <img src="assets/photo-1.jpg" alt="User" class="user-photo">
  <div class="topic-title">
    <strong class="user-name">Eva</strong>
    <span class="user-action"> is asking:</span>
    <h2 class="question-title">Will insulin make my patient gain weight?</h2>
  </div>
  <div class="follow">unfollow</div>
</div>
<div class="topic-content">
  <div class="placeholder"></div>
  <p class="topic-description">All my patients with diabetes should see and opthalmologist yearly for a dialated eye examination- begining at diagnosis inpeople with type 2 diabetes, and after 5 years in people with type 1 diabetes after puberty. Patients with know eye disease, symptoms of blurred vision in one eye, or blind spots may need to see their opthalmologist more frequently.</p>
  <app-topic-votes></app-topic-votes>
</div>
<button type="button" class="give-answer">GIVE new answer</button>