<div class="container">
    <header>
        <app-header>
            <app-header-sort></app-header-sort>
            <app-header-search></app-header-search>
        </app-header>
    </header>
    <main>
        <app-question *ngFor="let question of allQuestionsBaseData" [question]="question" [routerLink]="['/question', question.id]" (loadMoreQuestionsBtn)="showLoadMoreQuestionsBtn()"></app-question>
        <div class="load-more-questions" [hidden]="hideLoadMoreQuestionsBtn">load more questions</div>
    </main>
</div>