<button type="button" class="btn-lg">CONTINUE discussion</button>
<div class="user-photo-border">
  <app-user-photo [user]="{id: (user | async)?.id, photo: (user | async)?.photo}" *ngIf="user | async"></app-user-photo>
</div>
<div class="comment">
  <app-user-name [user]="{id: (user | async)?.id, name: (user | async)?.name}"></app-user-name>
  <span class="user-action"> commented it:</span>
  <span class="comment-time">{{ date }}</span>
  <p class="comment-content">{{ comment.description }}</p>
</div>
<app-topic-votes [votes]="comment.votes" ></app-topic-votes>