.container {
    background-color: #FFE1AD;
    padding-bottom: 5rem;
}

main {
    background-color: #FBFBFB;
    width: 95%;
    padding-top: 28rem;
    margin: 0 auto;
}

.load-more-questions {
    background-color: #fff;
    color: #DC173F;
    margin: 0 auto;
    width: 120rem;
    padding: 2rem 1rem;
    box-sizing: border-box;
    font-size: 1.6rem;
    font-family: 'AurulentSans-Regular', 'sans-serif';
    box-shadow: 3px 0 5px 0 rgba(0,0,0,0.15);
}

.question-activity-time {
    font-size: 1.6rem;
    font-family: 'AurulentSans-Italic', 'sans-serif';
    margin: 0;
    align-self: flex-end;
}

.question-activity-time-number {
    margin: 0 1rem;
    font-weight: bold;
}