<div class="label">
    <img src="assets/{{ question.userPhoto }}" alt="User" class="user-photo">
    <div>
        <strong class="user-name">{{ question.userName }}</strong>
        <span class="user-action"> is asking:</span>
        <h2 class="question-title">{{ question.title }}</h2>
    </div>
</div>
<div class="question-activities">
    <div class="question-activities-users">
        <div class="question-activities-action">
            <div class="question-activities-action-type">asked</div>
        </div>
        <div class="question-activities-more" *ngIf="showMore">
            <span>{{ question.activities.length - tilesSize }}</span>
            <span class="question-activities-more-label">more activities</span>
        </div>
        <app-question-activity *ngFor="let tile of tiles" [tile]="tile"></app-question-activity> 
    </div>
    <div class="question-activities-info">
        <div>{{ question.relatedDiscussion }} related discussion</div>
        <div>{{ question.peersInvolved }} peers involved</div>
        <div>{{ question.conversations }} conversations</div>
    </div>
</div>