<div class="container" *ngIf="data">
  <i class="fa fa-times close" (click)="close()"></i>
  <img src="assets/{{ data.user.photo }}" alt="User" class="user-photo">
  <strong class="user-name">{{ data.user.name }}</strong>
  <div class="user-info">
    <div>
      <span class="user-activity-label">member for</span>
      {{ data.user.member }} months
    </div>
    <div>
      <span class="user-activity-label">last seen</span>
      {{ data.user.lastTimeOnline }}
    </div>
    <div>
      <span class="user-activity-label">activity level</span>
      <span *ngFor="let activeLev of activityLevel">
          <span class="activity-level-badge active" *ngIf="activeLev"></span>
          <span class="activity-level-badge" *ngIf="!activeLev"></span>
      </span>
    </div>
  </div>
  <div class="user-acitivity-search">
    <div class="arrow">
      <i class="fa fa-angle-left" aria-hidden="true"></i>
    </div>
    <div class="user-activity-search-label">How it all started</div>
    <div class="arrow active">
      <i class="fa fa-angle-right" aria-hidden="true"></i>
    </div>
  </div>
  <span class="user-activity-label">that's where we have been these {{ data.user.member }} months ago</span>
  <div class="user-statistics">
    <div class="user-statistic">
      <div class="user-statistic-content-1">
        <div class="statistic-number">{{ data.user.peers }}</div>
        peers
      </div>
    </div>
    <div class="user-statistic">
      <div class="user-statistic-content-2">
        <div class="statistic-number">{{ data.user.discussions }}</div>
        discussions
      </div>
    </div>
    <div class="user-statistic">
      <div class="user-statistic-content-3">
        <div class="statistic-number">{{ data.user.findings }}</div>
        findings
      </div>
    </div>
    <div class="user-statistic">
      <div class="user-statistic-content-4">
        <div class="statistic-number">{{ data.questionsNum }}</div>
        questions
      </div>
    </div>
  </div>
  <span class="user-activity-label">who joined the platform that same period</span>
  <div class="users-related">
    <div *ngFor="let user of data.whoJoined">
      <div class="users-photo-block">
        <img src="assets/{{ user.photo }}" alt="User" class="user-photo">
      </div>
      <div class="users-related-name">{{ user.name }}</div>
    </div>
  </div>
  <span class="user-activity-label">the hottest discussion these days</span>
  <div class="selected-discussion">
    <img src="assets/{{ data.hottestDiscussionUser.photo }}" alt="User" class="user-photo selected-discussion-photo">
    <span class="user-name">{{ data.hottestDiscussionUser.name }}</span>
    <span class="user-activity-label">found the guardian article</span>
    <div class="question-title">{{ data.hottestDiscussionQuestion.title }}</div>
    <div class="selected-discussion-statistics">
      <div>
          <span class="statistic-number">{{ data.hottestDiscussionQuestion.peersInvolved }}</span>
            peers involved
      </div>
      <div>
          <span class="statistic-number">{{ data.hottestDiscussionQuestion.relatedDiscussion }}</span>
            related discussion
      </div>
      <div>
          <span class="statistic-number">{{ data.hottestDiscussionQuestion.conversations }}</span>
            conversations
      </div>
      <div>
          <span class="statistic-number">{{ data.question.votes }}</span>
            <span *ngIf="data.question.votes >= 0">upvotes</span>
            <span *ngIf="data.question.votes < 0">downvotes</span>
      </div>
    </div>
  </div>
</div>
<div class="modal-background"></div>