<i class="fa fa-times close" aria-hidden="true"></i>
<img src="assets/photo-1.jpg" alt="User" class="user-photo">
<strong class="user-name">Dr. Halima</strong>
<div class="user-info">
  <div>
    <span class="user-activity-label">member for</span>
    5 months
  </div>
  <div>
    <span class="user-activity-label">last seen</span>
    Saturday afternoon
  </div>
  <div>
    <span class="user-activity-label">activity level</span>
    <span class="activity-level-badge active"></span>
    <span class="activity-level-badge active"></span>
    <span class="activity-level-badge"></span>
  </div>
</div>
<div class="user-acitivity-search">
  <div class="arrow">
    <i class="fa fa-angle-left" aria-hidden="true"></i>
  </div>
  <div class="user-activity-search-label">How it all started</div>
  <div class="arrow active">
    <i class="fa fa-angle-right" aria-hidden="true"></i>
  </div>
</div>
<span class="user-activity-label">that's where we have been these 5 months ago</span>
<div class="user-statistics">
  <div class="user-statistic">
    <div class="user-statistic-content-1">
      <div class="statistic-number">46</div>
      peers
    </div>
  </div>
  <div class="user-statistic">
    <div class="user-statistic-content-2">
      <div class="statistic-number">29</div>
      discussions
    </div>
  </div>
  <div class="user-statistic">
    <div class="user-statistic-content-3">
      <div class="statistic-number">19</div>
      findings
    </div>
  </div>
  <div class="user-statistic">
    <div class="user-statistic-content-4">
      <div class="statistic-number">10</div>
      questions
    </div>
  </div>
</div>
<span class="user-activity-label">who joined the platform that same period</span>
<div class="users-related">
  <div>
    <div class="users-photo-block">
      <img src="assets/photo-1.jpg" alt="User" class="user-photo">
    </div>
    <div class="users-related-name">S.E.N. Waweru</div>
  </div>
  <div>
    <div class="users-photo-block">
      <img src="assets/photo-1.jpg" alt="User" class="user-photo">
    </div>
    <div class="users-related-name">Patricia</div>
  </div>
  <div>
    <div class="users-photo-block">
      <img src="assets/photo-1.jpg" alt="User" class="user-photo">
    </div>
    <div class="users-related-name">Joseph Aluoch</div>
  </div>
</div>
<span class="user-activity-label">the hottest discussion these days</span>
<div class="selected-discussion">
  <img src="assets/photo-1.jpg" alt="User" class="user-photo selected-discussion-photo">
  <span class="user-name">Dr. Halima</span>
  <span class="user-activity-label">found the guardian article</span>
  <div class="question-title">Vegan diet to stop diabetes progress</div>
  <div class="selected-discussion-statistics">
    <div>
        <span class="statistic-number">6</span>
          peers involved
    </div>
    <div>
        <span class="statistic-number">3</span>
          related discussion
    </div>
    <div>
        <span class="statistic-number">3</span>
          conversations
    </div>
    <div>
        <span class="statistic-number">19</span>
          upvotes
    </div>
  </div>
</div>